[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-instant-markdown"]
	path = vim/vim.symlink/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "vim/vim.symlink/bundle/vim-jsbeautify"]
	path = vim/vim.symlink/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/vim-jade"]
	path = vim/vim.symlink/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/vim.symlink/bundle/puppet"]
	path = vim/vim.symlink/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/vim.symlink/bundle/vim-thrift"]
	path = vim/vim.symlink/bundle/vim-thrift
	url = https://github.com/jigish/vim-thrift.git
[submodule "vim/vim.symlink/bundle/vim-clojure-static"]
	path = vim/vim.symlink/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/vim.symlink/bundle/vim-fireplace"]
	path = vim/vim.symlink/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/vim.symlink/bundle/vim-classpath"]
	path = vim/vim.symlink/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/rainbow_parentheses"]
	path = vim/vim.symlink/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/vim.symlink/bundle/vim-redl"]
	path = vim/vim.symlink/bundle/vim-redl
	url = git://github.com/dgrnbrg/vim-redl.git
